.header {
  padding: 35px;
  border: 1px solid #eaebed;
  width: 773px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  .flex {
    display: flex;
    gap: 15px;
  }
}

.content {
  padding: 35px;
  border: 1px solid #eaebed;
  width: 773px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

h2 {
  font: 700 20px "Inter";
}

li {
  font: 400 16px "Inter";
}
